{% extends 'layouts/main.html' %}

{% block content %}
    <style>
        .image> img{
            width: 50%;
            margin-left: 25%;
        }

        .comments{
            width: 60%;
            margin-left: 10%;
        }

        .comment {
            height: 50px;
            margin-bottom: 45px;
            background: #242b2e;
            padding: 10px;
        }

        .author{
            color: #fff;
            flex: 18px;
            font-family: sans-serif;
            font-weight: bold;
        }

        .text {
            font-size: 15px;
            font-family: sans-serif;
        }

        .post {
            width: 70%;
            margin-left: 15%;
        }
        .create-comment {
            width: 70%;
            margin-left: 15%;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        textarea {
            height: 30px;

        }
    </style>
    <div class="post">
        <div class="image">
            <img src="/media/{{ post.image }}/" alt="">
        </div>
        <div>
            <div style="display:flex; justify-content: space-between">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.author.username }}</h3>
            </div>
            <h5>{{ post.date }}</h5>
            <div>
                <p>{{ post.description }}</p>
            </div>
            <h5>{{ post.hashtag.title }}</h5>
        </div>
    </div>
    <div class="create-comment">
        <form action="/posts/{{ post.id }}/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Leave a comment">
        </form>
    </div>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="author">
                    <p> {{ comment.author.username }}</p>
                </div>
                <div>
                    <p class="text">{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
